<!DOCTYPE html>
<html lang="en">
<head>
    <title>Experience</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<header>
    <div class="container-fluid header">
        <div class="row">
            <div class="col-8 text-lg-left">
                <h1><b>Software Development Internship</b></h1><br>
                <h3>Seattle, Washington, Paid 12 Weeks</h3>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container">
    <h1>Experience</h1>
    <form method="POST" action="#">
        <div class="form-row">
            <div class="col-lg-8">
        <div class="form-group">
            <label for="bio"><b>Biography:</b></label>
            <textarea class="form-control" rows="5" id="bio" name="bio"></textarea>
        </div>
            </div>
            <div class="col-lg-4">
        <div class="form-group">
            <label for="github"><b>Github Link:</b></label>
            <input type="text" class="form-control" id="github" name="github">
            <check if="{{isset(@errors['github'])}}">
                <span class="err">{{ @errors['github'] }}</span>
            </check>
        </div>
        <div class="form-group">
            <label for="years"><b>Years of Experience:</b></label>
            <input type="number" class="form-control" id="years" name="years">
            <check if="{{isset(@errors['years'])}}">
                <span class="err">{{ @errors['years'] }}</span>
            </check>
        </div>
        <div class="form-group">
            <label><b>Willing to relocate?</b></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="relocate" id="relocate-yes" value="yes">
                <label class="form-check-label" for="relocate-yes">
                    Yes
                </label>
                <check if="{{isset(@errors['relocate'])}}">
                    <span class="err">{{ @errors['relocate'] }}</span>
                </check>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="relocate" id="relocate-no" value="no">
                <label class="form-check-label" for="relocate-no">
                    No
                </label>
            </div>
        </div>
                <button type="submit" name="submit" class="btn btn-primary btn-block" >Next</button>
        </div>
        </div>
    </form>
</div>
</body>
</html>
