<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

</head>
<header>
    <div class="container-fluid header">
        <div class="row">
            <div class="col-8 text-lg-left">
                <h1><b>Software Development Internship</b></h1><br>
                <h3>Seattle, Washington, Paid 12 Weeks</h3>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <p>Name: Sarah Smith</p>
            </div>
            <div class="box">
                <p>Email: my_email@gmail.com</p>
            </div>
            <div class="box">
                <p>State: Washington</p>
            </div>
            <div class="box">
                <p>Phone: 222-333-4444</p>
            </div>

            <div class="box">
                <p>Github Link: github.com/my_github</p>
            </div>
            <div class="box">
                <p>Experience: 0-2 years</p>
            </div>
            <div class="box">
                <p>Willing to relocate: Yes</p>
            </div>
            <div class="box">
                <p>Mailing Lists: JavaScript, PHP, Cybersecurity</p>
            </div>
        </div>


        <div class="col-md-6">
            <img class="cvr" src="images/profilepic.png" alt="Profile Picture">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <h3>Summary</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in risus quis risus sagittis iaculis
                quis vel ex. Nam quis orci nibh. Donec interdum purus nunc, et viverra ex lacinia non. In sed enim ac
                arcu venenatis vehicula. Aenean non faucibus quam. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <button type="submit" name="submit" class="btn3 btn-primary btn-block">Submit My Application!</button>
        </div>
        <div class="col-md-2">

        </div>

    </div>
</div>
</body>
</html>